@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --clr-background-primary: #e6e6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text-primary: #0a0a0a;
    --clr-text-secondary: #ffffff;
    --clr-background-primary: #e6e6ff;
  }
}

body {
  background: var(--clr-background-primary);
  width: 100vw;
  overflow-x: hidden;
  color: var(--clr-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

.animatedButton {
  animation-duration: 5s;
}

.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}
